* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #f4f3ef;
}

.container {
	max-width: 1140px;
	max-height: 600px;
	margin: 0 auto;
}

/* Sidebar */
nav {
	display: flex;
}

.sidebar {
	padding: 10px;
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: #fff; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
	text-transform: uppercase;
}

.router-content {
	flex: 1;
	margin-left: 20%;
	padding: 40px 40px;
}

.sidebar > ul {
	margin-top: 10px;
}

.sidebar > ul li {
	text-align: left;
	cursor: pointer;
}

.sidebar > ul > div {
	display: inline-block;
}

.sidebar > ul > div > .link > li {
	list-style: none;
	margin: 2%;
	display: flexbox;
	width: 250px;
	height: 50px;
	font-size: 0.75rem;
	padding: 5px 0;
	position: relative;
}

.sidebar > ul > div > .link > li.selected::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 25px solid #fff;
	border-bottom: 25px solid transparent;
}

.sidebar > ul > div > .link.selected::before {
	content: "";
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	margin: 15px 0;
	z-index: 1;
	border-top: 15px solid transparent;
	border-right: 15px solid #f4f3ef;
	border-bottom: 15px solid transparent;
}

.link-title {
	text-decoration: none;
	font-weight: 2;
	color: #76716c;
}

.link {
	text-decoration: none;
	color: #fff;
}

.icon {
	margin: auto 10px;
	color: #fff;
}

.data {
	background-color: #1b7ecf;
}
/* .data.selected {
	background-color: #558f8f;
} */
.intent {
	background-color: #fda750;
}
.entity {
	background-color: #558f8f;
}
.conversation {
	background-color: #8b5cbc;
}
.business {
	background-color: #73bc5b;
}
.rule {
	background-color: #df60be;
}
.nlp {
	background-color: #b8944d;
}

.menu-title {
	padding: 50px 0 20px 0;
	text-decoration: none;
	border-style: none none solid;
	border-width: 1px;
}

/* Content */
.content-wrapper {
	border-radius: 10px;
	padding: 20px 20px;
	background-color: #fff;
	display: flexbox;
}

/* List */
.title-content {
	text-align: left;
	margin: 10px 0 50px;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	font-size: 15px;
}

th.title-value {
	width: 20%;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid rgb(168, 168, 168);
}

th {
	text-transform: uppercase;
	color: #51cbce;
	padding-bottom: 15px;
}

td {
	padding-bottom: 20px;
}

/* Tag */
.input-tag {
	background: white;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px 5px 0;
}

.input-tag input {
	border: none;
	width: 100%;
}

.input-tag-item {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 100%;
	opacity: 40%;
}

.input-tag-item li {
	display: flex;
	font-weight: 300;
	list-style: none;
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 5px 10px;
}

.input-tag-item > .tag-items {
	align-items: center;
	border-radius: 2px;
	border: 0.5px solid #000;
	color: #000;
}

.input-tag-item li button {
	align-items: center;
	appearance: none;
	border: none;
	color: #000;
	cursor: pointer;
	display: inline-flex;
	font-size: 12px;
	height: 15px;
	justify-content: center;
	line-height: 0;
	margin-left: 10px;
	padding: 0;
	width: 15px;
}

.input-tag-item li.input-item-field {
	background: none;
	flex-grow: 1;
	padding: 0;
}

.input-item-field > input {
	border: none;
	background: transparent;
}
